@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    background-color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    transform: translateX(-6px);
}

.header-container{
    width: 100vw;
    background-image: url('images/buildings.png');
    background-repeat: no-repeat;
    background-position: bottom;
    height: 975px;
}

.header-content{
    margin: auto;
    width: 1500px;
}

.navigation-bar{
    position: relative;
    margin-left: 150px;
    margin-right: 150px;
    top: 50px;
}

.title{
    font-size: 22pt;
    font-weight: 700;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.title span{
    color: orange;
}

.menu-item-container{  
    float: right;
    margin-right: 25px;
    vertical-align: middle;
}

.menu-item{
    margin-top: 50px;
    font-size: 12pt;
    color: #242f51;
    font-weight: 500;  
    float: left;
    margin-right: 30px;
    vertical-align: middle;
}

.trial-btn{
    cursor: pointer;
    vertical-align: middle;
    background-color: #2500f9;
    text-align: center;
    border-radius: 30px;
    width: 175px; 
}

.trial-btn:hover{
    background-color: #210aa7;
}

.trial-btn h3{
    font-size: 12pt;
    font-weight: 700;
    vertical-align: middle;
    color: white;
}
.navigation-bar > .trial-btn{
    float: right;
    margin-top: 32px;
    margin-left: 10px;
}

.header-text-container{
    overflow: hidden;
    display: inline-block;
    position: relative;
    width: 524px;
    left: 230px;
    bottom: 175px;
    
}

.header-text-container h1{
    font-size: 45pt;
    line-height: 1.2;
    font-weight: 600;
    color: #242F51;
 }

 .header-text-container h4{
     font-size: 14pt;
     font-weight: 400;
     line-height: 1.2;
     color: #737478;
 }

 .editors-choice{
     position: absolute;
 }
 
 .header-text{
     position:relative;
     top: 10px;
 }


.editors-choice p{
    font-size: 13pt;
    font-weight: 500;
    display: inline-block;
    vertical-align: bottom;
    background-color: #E2EAED;
    border-radius: 15px;
    width: 350px;
    color: #242F51;
    height: 35px;
    
}

.icon-container{
    text-align: center;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 35px;
    color: white;
    background-color: #FEAA25;
    border-radius: 20px;
}

.material-icons-outlined{
    font-size: 15pt;
    text-align: center;
    margin: auto;
    display: inline-block;
    vertical-align: bottom;
}

.header-text-container > .trial-btn{
    display: inline-block;
    width: 175px;
    vertical-align: middle;
}

.header-text-container > .trial-btn > h3{
    font-size: 12pt;
    font-weight: 700;
    vertical-align: middle;
    color: white;
}

.header-text-container > .video-link{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-left: 15px;
}

.header-text-container > .video-link > h3{
    font-size: 12pt;
    font-weight: 600;
    vertical-align: middle;
    color: #3C22F9;
    cursor: pointer;
}

.header-text-container > .video-link > h3:hover{
    text-decoration: underline;
}

.image-container{
    display: inline-block;
    position: relative;
    width: fit-content;
    left:325px;
    height: fit-content;
    top: 50px;
}

.second-slide-container{
    margin-top: 50px;
    width: 100vw;
}

.second-slide-content{
    margin: 0 auto;
    width: 1500px;
    height: fit-content;
}

.companies{
    text-align: center;
}

.companies h3{
    font-size: 12pt;
    font-weight: 500;
    color: #242F51;
}

.companies img{
    margin-right: 30px;
    margin-left: 40px;
    vertical-align: bottom;
}

.features-image-container{
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 100px;
    bottom: 100px;
}

.features-text-container{
    display: inline-block;
    width: 500px;
    position: relative;
    left: 150px;
    top: 100px;
}

.features-text-container h1{
    font-size: 30pt;
    font-weight: 600;
    color: #242F51;
    width: 300px;
}

.features-text-container h4{
    color: #737478;
    font-weight: 500;
}

.feature-icon{
    display: inline-block;
    vertical-align: middle;
}

.feature-icon img{
    display: inline-block;
    vertical-align: middle;
}

.feature-description{
    margin-left: 15px;
    text-align: justify;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

#performance{
    color: #f55767;
}

#prototyping{
    color:#2563ff;
}

#vector{
    color:#40975f;
}

.feature-description h2{
    font-size: 16pt;
    margin-bottom: 0;
}

.feature-description h4{ 
    font-weight: 500;
    color: #737478;
    margin-top: 0;
}

.jackpots{
    text-align: center;
}

.jackpots-title{
    line-height: 1.2;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 450px;
}

.jackpots-title h1{
    font-size: 30pt;
    font-weight: 600;
    color: #242f51;
    
}

.verical-line{
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid #b9b9b8;
}

.jackpots > .verical-line{
    margin-left: 50px;
    height: 150px;
}

.jackpots-description{
    margin-left: 50px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 450px;
}

.jackpots-description h4{
    font-weight: 500;
    color: #737478;
}

.advantages{
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 75px;
}

.advantage{
    margin-left:50px;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

.advantage-description{
    text-align: left;
}

.advantage-description h2{
    font-size: 16pt;
    margin-bottom: 0;
}

.advantage-description h4{
    font-weight: 500;
    color:#737478;
    margin-top: 0;
}

#payouts{
    color: #f55767;
}

#network{
    color: #2563ff;
}

#rewards{
    color: #40975f;
}

.design-information{
    margin-top: 150px;
    padding-left: 100px;
    padding-right: 50px;
}

.design-information-image{
    display: inline-block;
    vertical-align: middle;
}

.design-information-text{
    margin-left: 75px;
    display: inline-block;
    vertical-align: middle;
    width: 425px;
}

.design-information-text > h1{
    font-size: 30pt;
    font-weight: 600;
    width: 400px;
    color: #242f51;
}

.design-information-text > h4{
    font-weight: 500;
    color: #737478;
}

.design-information-text > .trial-btn{
    display: inline-block;
    width: 175px;
    vertical-align: middle;
}

.design-information-text > .trial-btn > h3{
    font-size: 12pt;
    font-weight: 700;
    vertical-align: middle;
    color: white;
}

.third-slide-container{
    width: 100vw;
    margin-top: 150px;
}

.third-slide-content{
    width: 1500px;
    margin: 0 auto;
    
}

.third-slide-header-text{
    text-align: center;
}

.third-slide-header-text h1{
    font-size: 28pt;
    font-weight: 600;
    color: #242f51;
}

.third-slide-header-text h4{
    font-weight: 500;
    color: #737478;
}

.icon-group{
    margin-top: 50px;
    padding-left: 225px;
}

.reason{
    text-align: center;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin: 25px;
}

.reason-description h2{
    font-size: 16pt;
    font-weight: 700;
    color: #242f51;
    margin-bottom: 0;
}

.reason-description h4{
    font-weight: 500;
    color: #737478;
    margin-top: 5px;
}

.ultimate-features{
    margin-top: 100px;
}

.ultimate-features-text{
    position: relative;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width:fit-content;
    left: 150px;
}

.ultimate-features-text > .reason{
    text-align: left;
}

.ultimate-features-text h1{
    font-size: 26pt;
    font-weight: 700;
    color: #242F51;
    margin-bottom: 0;
}

.ultimate-features-text > h4{
    font-weight: 500;
    color: #737478;
    margin-top: 0;
}

.ultimate-features-text > .trial-btn{
    display: inline-block;
    width: 175px;
    vertical-align: middle;
    margin-left: 25px;
}

.ultimate-features-text > .trial-btn > h3{
    font-size: 12pt;
    font-weight: 700;
    vertical-align: middle;
    color: white;
}

.ultimate-features-image{
    position: relative;
    left: 75px;
    float:right;
    margin-right: 0;
    margin-left: 0;
    top: 50px;
}

.price-header{
    margin-top: 100px;
    text-align: center;
}

.price-header h1{
    font-size: 28pt;
    font-weight: 600;
    color: #242f51;
}

.price-header h4{
    font-weight: 500;
    color: #737478;
}

.switch-container{
    margin-top: 150px;
}

.switch{
    user-select: none;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 300px;
    height: 50px;
    border: 2px solid #EBEBEB;
    border-radius: 34px;
    padding: 2px;
}

.switch input{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.switch label{
    cursor: pointer;
}

.pay-option{
    position: absolute;
    width: 50%;
    height: 50px;
    text-align: center;
}

.pay-option h3{
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 0;
}

#option-2{
    left: 50%;
}

#monthly{
    color: white;
    font-weight: 700;
}

#annually{
    color:#737478;
    font-weight: 500;
}

.slider{
    border-radius: 34px;
    position: absolute;
    width: 50%;
    height: 50px;
    background-color: #2500f9;
    transition: 0.4s linear;
}

input:checked + .slider{
    transform: translateX(97%);
}

input:checked ~ .pay-option > #monthly{
    color:#737478;
    font-weight: 500;
}

input:checked ~ .pay-option > #annually{
    color:white;
    font-weight: 700;
}

.payment-details-container{
    margin-top: 100px;
    padding-left: 400px;
}

.payment-details{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin: 25px;
}

.no-border{
    border-top: white;
    border-radius: 15px;
    box-shadow: 0 10px 20px 6px #F4F7F9, 0 50px 40px 6px #F4F7F9;
}

.border{
    padding-top: 70px;
    border-radius: 15px;
    border: 2px solid #EBEBEB;
}

.border > .payment-details-description > h4{
    text-decoration: none;
    color: #2500f9;
    cursor: pointer;
}

.border > .payment-details-description > h4:hover{
    text-decoration: underline;
}

.payment-details-header{
    text-align: center;
    background-image: linear-gradient(white, #F4F7F9);
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.payment-details-header h1{
    font-size: 50pt;
    display: inline-block;
    vertical-align: middle;
    color:#242f51;
    margin-bottom: 0;
    margin-top: 0;
}

.payment-details-header h2{
    font-size: 14pt;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0px;
    color: #737478;
}

.payment-details-header h3{
    margin-top: 0;
    margin-bottom: 0;
    color: #242f51;
}

.payment-details-header h4{
    font-weight: 500;
    margin-top: 0;
    color: #737478;
}

.payment-details-description{
    text-align: center;
}

.payment-details-description h4{
    font-weight: 500;
    color: #737478;
}

.payment-details-description-list{
   list-style-type: none;
   padding: 0;
}

.payment-details-description > .trial-btn{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    margin-bottom: 20px;
}

.payment-details-description > .trial-btn > h3{
    font-size: 12pt;
    font-weight: 700;
    vertical-align: middle;
    color: white;
}

.fourth-slide-container{
    width: 100vw;
    margin-top: 200px;
}

.fourth-slide-content{
    width: 1500px;
    margin: 0 auto;
}

.fourth-slide-image{
    width: fit-content;
    position: relative;
    transform: translateX(-35px);
    display:inline-block;
    vertical-align: middle;
}

.fourth-slide-text{
    width: 600px;
    display:inline-block;
    vertical-align: middle;
}

.fourth-slide-text > h1{
    font-size: 30pt;
    font-weight: 600;
    color: #242F51;
}

.fourth-slide-text > h2{
    color: #242F51;
}

.fourth-slide-text > h4{
    text-align: justify;
    font-weight: 500;
    color: #737478;
}

.slider-and-controlls{
    user-select: none;
    margin-top: 50px;
}

.image-slider-container{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.image-slider{
    display: flex;
    width: 500%;
    transition: 0.5s linear;
}

.slide{
    width: 20%;
}

.slide img{
    display: inline-block;
    vertical-align: middle;
}

.slide > .slide-text{
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.slide > .slide-text > h3{
    margin-top: 0;
    margin-bottom: 0;
    color: #242F51;
}

.slide > .slide-text > h4{
    margin-top: 0;
    margin-bottom: 0;
    color:#737478;
    font-weight: 500;
}

.slider-controlls{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.slider-controlls p{
    cursor: pointer;
    color: #2500f9;
    border: 1px solid #b9b9b8;
    width: 45px;
    height: 45px;
    text-align: center;
    background-color: #E2EAED;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}

#prevArrow{
    color: grey;
    background-color: white;
}

.slider-controlls span{
    margin-top: 13px;
}

.slider-controlls .verical-line{
    height: 15px;
}


.fifth-slide-container{
    width: 100vw;
    margin-top: 100px;
}

.fifth-slide-content{
    width: 1500px;
    margin: 0 auto;
}

.fifth-slide-header-text{
    margin-top: 200px;
    text-align: center;
}

.fifth-slide-header-text h1{
    font-size: 30pt;
    font-weight: 600;
    color: #242f51;
}

.fifth-slide-header-text h4{
    font-weight: 500;
    color: #737478;
}

.questions{
    margin-top: 100px;
}

.question{
    margin: 0 auto;
    width: 1000px;
    background-color: #E2EAED;
    margin-bottom: 10px;
}

.question h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
    color: #242F51;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s linear;
}

.answer h4{
    font-weight: 500;
    color: #737478;
}

.question:target  .answer{
    max-height: 500px;
    text-align: justify;
    margin-left: 25px;
    width: 50rem;
}

.question:target  span{
    visibility: hidden;
}


.question span{
    user-select: none;
    font-size: 26pt;
    float: right;
    vertical-align: middle;
    line-height: 75px;
    margin-right: 10px;
    color: #242F51;
}

.download-app{
    margin-top: 150px;
}

.download-app-text{
    display: inline-block;
    vertical-align: middle;
}

.download-app-image{
    display: inline-block;
    vertical-align: middle;
}

.download-app-text h1{
    color: #242F51;
}

.download-app-text h4{
    font-weight: 500;
    color: #737478;
}

.download-app-text #google{
    width: 225px;
    height: 90px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.download-app-text #apple{
    width: 200px;
    height: 75px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.footer{
    position: absolute;
    transform: translateX(-6px);
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100vw;
    background-color: #09142E;
}

.footer-content{
    width: 1500px;
    margin: 0 auto;
    text-align: center;
}

.footer-content .title{
    color: white;
}

.footer-content .title > span{
    color: #FEAA25;
}

.footer-menu{
    margin: 0 auto;
}

.footer-menu > .footer-menu-item{
    color: white;
    font-weight: 500;
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    text-decoration: none;
}

.footer-content i{
    color: #273043;
    font-size: 24pt;
    margin-left: 15px;
    margin-top: 50px;
    cursor: pointer;
}

.footer-content i:hover{
    color: white;

}

.footer-content p{
    margin-top: 50px;
    font-weight: 600;
    color: #273043;
}